<!DOCTYPE HTML>

<html>
    <head>
        <title>{{ title }}</title>
        <link rel="stylesheet" href="/css/styles.css" type="text/css">
        <link rel="icon" type="img/png" href="/img/ichords-icon.png">
    </head>

    <body>

        {{>header}}

        <div class="main-content">
            <p>This is a home page</p>
        </div>
    
        {{>footer}}
        
    </body>
</html>
