<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" type="text/css" href="./css/styles.css">
        <link rel="icon" type="img/png" href="/img/ichords-icon.png">
    </head>

    <body>
        {{>header}}

        <form id="login-form" method="POST" action="/users/login">
            <table>
                <tr>
                    <td><label for="email">E-mail: </label></td>
                    <td><input id="email" type="text" name="email"></td>
                </tr>

                <tr>
                    <td><label for="password"></label>Password: </td>
                    <td><input id="password" type="password" name="password"></tr><td>
                </tr>
            </table>
        
        <!--
            <div><input type="checkbox" id="remember-account"> Remember my account</di>
            <div><input type="checkbox" id="stay-logged-in"> Stay Logged In</div> -->
            <button>Login</button>
        </form>

        
    </body>
</html>


