<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" type="text/css" href="./css/styles.css">
        <link rel="icon" type="img/png" href="/img/ichords-icon.png">
    </head>

    <body>
        {{>header}}

        <form id="signup-form", method="POST", action="/users">
            <table>
                <tr id="first-name-row">
                    <td><label for="firstName">First Name: </label></td>
                    <td><input id="first-name" type="text" name="firstName"></td>
                </tr>

                <tr id="last-name-row">
                    <td><label for="lastName">Last Name: </label></td>
                    <td><input id="last-name" type="text" name="lastName"></td>
                </tr>
                
                <tr id="email-row">
                    <td><label for="email">E-mail: </label></td>
                    <td><input id="email" type="text" name="email"></td>
                </tr>

                <tr id="password-row">
                    <td><label for="password">Password: </label></td>
                    <td><input id="password" type="password" name="password"></tr><td>
                </tr>

                <tr id="confirm-password-row">
                    <td><label for="confirmPassword">Confirm Password:</label> </td>
                    <td><input id="password-confirm" type="password" name="confirmPassword"></td>
                </tr>
            </table>
        
            <button>Create account</button>
        </form>
        
     
    </body>
</html>


