<!DOCTYPE html>

<html>
    <head>
        <title>{{ title }}</title>
        <link rel="stylesheet" href="/css/styles.css" type="text/css">
        <link rel="icon" type="img/png" href="/img/ichords-icon.png">
    </head>

    <body>

        {{>header}}
        {{>navbar}}
            <div class="main-content">
                <form id="spotify-uri">
                <input id="spotify-uri-input" type="text" name="spotifyUri" placeholder="spotify:track:6LLyiqMoNoex4Zu0ka4iF2" autocomplete="off">
                <button>Submit</button>
            </form>

            <div id="error-message"></div>

            <label>
                <input type="checkbox" id="pinyin-is-checked" checked>Pinyin

                <select id="syllable-required">
                        <option value="1">1</option>
                        <option value="2" selected="selected">2</option>
                        <option value="All">All</option>
                </select>
            </label>

            <button id="copy">Copy to Clipboard</button>
            <div id="search-link"></div>

            <br \><br \>
            
            <textarea id="lyrics-output" type="text" cols="100" rows="30"></textarea>

            <p><input type="checkbox" id="contribute-is-checked" checked> Contribute to database?</p>
        </div>
        
        
        {{>footer}}
        
        <script src="/js/spotify-meta-tool-client.js"></script>
       
    </body>
</html>
