<!DOCTYPE HTML>

<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css" type="text/css">
        
    </head>

    <body>

        {{>header}}

        <form id="spotify-uri">
            <input name="spotifyUri" placeholder="Spotify URI here" value="spotify:track:6LLyiqMoNoex4Zu0ka4iF2"> 
            <button>Submit</button>
        </form>

        <div id="output"></div>
        
        
        {{>footer}}
        <script src="/js/spotify-meta-tool-client.js"></script>
        <script src="../src/spotify-meta-tool.js"></script>
    </body>
</html>
