<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css" type="text/css">
        
    </head>

    <body>

        {{>header}}

        <form id="spotify-uri">
            <input id="spotify-uri-input" type="text" name="spotifyUri" placeholder="Spotify URI here" value="spotify:track:6LLyiqMoNoex4Zu0ka4iF2">
            <!--
            <input id="url-input" type="text" placeholder="Lyrics site url" name="lyricsUrl" value="https://mojim.com/cny100015x31x16.htm">
            -->
            <button>Submit</button>
        </form>

       

        <label>
            <input type="checkbox" id="pinyin-is-checked" checked>Pinyin

            

            <select id="syllable-required">
                    <option value="1">1</option>
                    <option value="2" selected="selected">2</option>
                    <option value="All">All</option>
            </select>

        </label>

        <br \><br \>
        
        <textarea id="lyrics-output" type="text" cols="100" rows="30"></textarea>
        
        {{>footer}}
        <script src="/js/spotify-meta-tool-client.js"></script>
        
    </body>
</html>
