<header>

    <h1>{{title}}</h1>

    <a href="/progression-generator">Progression Generator</a>
    <a href="/bpm">BPM Tool</a>
    <a href="/spotify-meta-tool">Spotify Meta Tool</a>
    <a href="/about">About</a>

    <span id="user-login-signup">
        <a href="/login" id="login-btn">Login</a>
        <a href="/signup" id="signup-btn">Sign Up</a>
    </span>
    
</header>

