<h1>{{title}}</h1>

<hr />

<div>
    <a href="/progression-generator">Progression Generator</a>
    <a href="/bpm">BPM Tool</a>
    <a href="/spotify-meta-tool">Spotify Meta Tool</a>
    <a href="/about">About</a>
</div>

<hr />