<div class="navbar">

    <a href="#">Features</a>
    <a href="#">Pricing</a>
    <a href="#">FAQ</a>
    <a href="#">Contact</a>

   
    <span class="user-btn">
        <a href="/login" id="login-btn">Login</a>
        <a href="/signup" id="signup-btn">Sign Up</a>
    </span>
    
</div>