<div class="navbar">

    <a href="/dashboard/prog">Progression Generator</a>
    <a href="/dashboard/bpm">BPM Tool</a>
    <a href="/dashboard/spotify-meta-tool">Spotify Meta Tool</a>
    

    <span class="user-btn">
        <a href="#">User Profile</a>
        <a href="#">Setting</a>
        <form method="POST", action="/users/logout", id="user-logout">
            <button id="logout-btn">Logout</button>
         </form>
    </span>
    

</div>