body {
    font-family: Arial, "Helvetica Neue", "Open Sans";
    font-size: 16px;
    max-width: 50%;
    margin: 0 auto;
    background-color: #FAFAFA;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content {
    flex-grow: 1;

}

h1 {
    color: #333333;
    font-size: 200%;   
    border-bottom: 1px solid #aaaaaa; 
    padding-bottom: 8px;
}

header {
    font-size: 20px;
    padding: 16px 0px;
   
}

header a {
    margin: 8px 0 8px 0;
    margin-right: 24px;
    text-decoration: none;
    color: #666666;
}

img {

    width: 50%;
}


#spotify-uri-input {
    width: 300px;
}

input {
    
    font-size: 16px;
    padding: 5px 8px ;
    border: 1px solid #aaaaaa;
    border-radius: 3px;
     
}

select {
    font-size: 16px;
   padding: 15px;
   height: 30px;
}


button {
    font-size: 16px;
    border-radius: 5px; 
}

textarea[type=text] {
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #aaaaaa;
    
}

#error-message {
    font-size: 80%;
    color: red;
    font-style: italic;
    width: 30%;
}

form {
    padding: 10px 0;
}

footer {
    color: #333333;
    border-top: 1px solid #aaaaaa;
    font-style: italic;
    padding-bottom: 16px;
    
}

footer a {
    color: #333333;
}

