body {
    font-family: "Helvetica Neue", "Open Sans", Arial;
    font-size: 16px;
}

h1 {
    color: grey;
    font-size: 200%;    
    text-align: center;
}

#output {
    padding: 20px 20px 50px 20px;
}

img {

    width: 50%;
}


#spotify-uri-input {
    font-family: "Helvetica Neue", "Open Sans", Arial;
    
    width: 300px;
}

input[type=text], select {
    
    font-size: 16px;
    padding: 3px 5px 3px 8px;
}

button {
    font-family: "Helvetica Neue", "Open Sans", Arial;
    font-size: 16px;
    border-radius: 5px; 
}

textarea[type=text] {
    font-family: "Helvetica Neue", "Open Sans", Arial;
    font-size: 16px;
}

#error-message {
    font-size: 80%;
    color: red;
    font-style: italic
}

