* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, "Helvetica Neue", "Open Sans";
    font-size: 16px;
    max-width: 95%;
    margin: 0 auto;
    background-color: #FAFAFA;
    display: flex;
    flex-direction: column;
    
    
    min-height: 100vh;
}

p {
    padding: 8px 0px;
}
header {
    font-size: 120%;
    padding: 8px;
    
    background-image: linear-gradient(to bottom right,#72BAE6,#99d3f5);
    padding-bottom: 8px;
    
}

header a {
    text-decoration: none;
    color: #414040;
}

.title, .subtitle{
    padding: 8px;
}

.title {
    font-size: 45px;
    font-weight: 50px;
    
}
.subtitle {
    font-style: italic;
    color: #FAFAFA;
}

.sidenav {
    
    background-color: #74CA88;
    width: 240px;
    float: left;
    height: 65vh;
}

.main-content {
    padding: 16px;
    flex-grow: 1;
    
    
 
    
}

.sidenav a {
    margin: 16px 8px 16px 8px;

    font-size: 20px;
    display: block;
    text-decoration: none;
    color: #ffffff;
}

.navbar {
    padding: 16px 16px 0px 16px;
}
.navbar a{
    margin: 8px 0 8px 0;
    margin-right: 24px;
    text-decoration: none;
    color: #666666;
    font-size: 20px;
}

img {

    width: 50%;
}


#spotify-uri-input {
    width: 300px;
}

input {
    
    font-size: 16px;
    padding: 5px 8px ;
    border: 1px solid #aaaaaa;
    border-radius: 3px;
     
}

select {
    font-size: 16px;
    height: 30px;
}


button {
    font-size: 16px;
    border-radius: 8px; 
    padding: 2px 8px;
}

textarea[type=text] {
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #aaaaaa;
    
}

#error-message {
    font-size: 80%;
    color: red;
    font-style: italic;
    width: 30%;
}

form {
    padding: 10px 0;
}

footer {
    color: #333333;
    border-top: 1px solid #aaaaaa;
    font-style: italic;
    padding-bottom: 16px;
    
}

footer a {
    color: #333333;
}

.user-btn {
    float: right;
    
}

#login-btn, #signup-btn, #logout-btn{
    
    background-color: #72BAE6;
    padding: 4px 16px 4px 16px;
    color: #ffffff;
    border-radius: 10px;
    text-decoration: none;
}

#signup-btn {
    background-color: orange;
}

#signup-form {
    border: 1px solid #ffffff;
    
}

#signup-form td {
    border: 1px solid #ffffff;
    text-align: right;
    
}

#lead-sheet-input {
  
    float:left;

}

#input-form {
    float: left;
    padding: 10px;
}

#text-output {
    padding: 10px;   
}